body{
    backgound-image:url("http://img.pptjia.com/image/20190312/e4174af697f50bc44f5136745d629d4b.jpg");
    font-family: sans-serif;
    padding: 20px;
    }
div.bg{
    backgound-color:#DCD7ED;
}
