body{
    background-image:url("http://img.pptjia.com/image/20190312/e4174af697f50bc44f5136745d629d4b.jpg");
    font-family: sans-serif;
    padding: 20px;
}
div.bg{
    background-color:#DCD7ED;
}

#Dog,
#Cat,
#Both{
    margin-top: 30px;
}

.button-container{
    display: flex;
    justify-content: space-around;
}

.image{
    display: none;
}

#dog:checked ~ #Dog,
#cat:checked ~ #Cat,
#both:checked ~ #Both{
    display: block;
}

#dog:checked ~ #Dog:not(:checked),
#cat:checked ~ #Cat:not(:checked),
#both:checked ~ #Both:not(:checked){
    display: none;
}

label{
    background-color: #7FD8F5;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"]{
    display: none;
}
